<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SvnAutomation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="MoodleUrl" value="http://192.168.10.110/moodle/custom/engineering-groups.php"></add>
    <add key="SvnAdminPath" value="C:\Program Files (x86)\VisualSVN Server\bin\svnadmin"></add>    
    <add key="SvnRepositoriesPath" value="E:\Repositories\"></add>
    <add key="SvnAuthzFile" value="E:\Repositories\authz-windows"></add>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="Tracing" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
          <add name="logfile" type="System.Diagnostics.TextWriterTraceListener" initializeData="SvnAutomation.log">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/>
          </add>
          <add name="nunit" type="System.Diagnostics.DefaultTraceListener" />
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- 
      1. Critical
      2. Error
      3. Warning
      4. Information
      5. Verbose
      -->
      <add name="sourceSwitch" value="Verbose"/>
    </switches>
  </system.diagnostics>
  <userSettings>
    <SvnAutomation.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value>test</value>
      </setting>
    </SvnAutomation.Properties.Settings>
  </userSettings>
</configuration>
